<div class="jumbotron my-3" style="background-color: inherit; height: calc(95vh);">
    <div class="card">
        <div class="card-body">
            <h5 class="cart-title">Contactanos</h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <i class="fa fa-user" aria-hidden="true"></i>Nombre
                    <span class="float-right">Abdul Kadafi Reyes Ortiz</span>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-phone-square" aria-hidden="true"></i>Cel
                    <span class="float-right">867.183.1464</span>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-envelope" aria-hidden="true"></i>Email
                    <span class="float-right">akro451@gmail.com</span>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>Dirección
                    <span class="float-right">tbd</span>
                </li>
            </ul>
        </div>
    </div>
</div>