<div class="jumbotron" style="background-color: inherit; height: calc(95vh);">
  <div class="card m-2 p-3">
    <div class="card-body">
      <h5 class="card-title">Nueva Orden</h5>
      <form [formGroup]="orderForm" [ngClass]="{'was-validated': formSubmitted}" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              id="inputEmail"
              placeholder="johndoe@example.com"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <label for="inputPhone">Tel</label>
            <input
              type="tel"
              class="form-control"
              formControlName="phone"
              id="inputPhone"
              placeholder="123-456-7890"
              required
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-10">
            <label for="inputAddress">Dirección</label>
            <input
              type="text"
              class="form-control"
              formControlName="address"
              id="inputAddress"
              placeholder="1234 Main St"
              required
            />
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input
              type="text"
              class="form-control"
              formControlName="zip"
              id="inputZip"
              placeholder="00000"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label for="inputOrder">Orden</label>
          <textarea
            class="form-control"
            formControlName="order"
            id="inputOrder"
            rows="3"
            placeholder="* 2 x Flan de queso con almendras
* 3 x Pastel del licioso"
            required
          ></textarea>
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!orderForm.valid"
        >
          Ordenar
        </button>
      </form>
    </div>
  </div>
</div>
