<div class="jumbotron" style="background-color: inherit; height: calc(95vh);">
    <div id="topLogoCard" class="card mx-auto">
        <img src="../../assets/img/mainLogo.jpg" >
    </div>

    <div class="container">
        <h2 class="">Categorias</h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            
            <div class="carousel-inner">
                <div *ngFor="let c of categories | slice:0:1" class="carousel-item active">
                    <img class="d-inline-block w-100" src={{c.img_path}} alt={{c.title}}>
                    <h5>{{c.title}}</h5>
                </div>
                <div *ngFor="let c of categories | slice:1" class="carousel-item">
                    <img class="d-inline-block w-100" src={{c.img_path}} alt={{c.title}}>
                    <h5>{{c.title}}</h5>
                </div>
            </div>

            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</div>